/* TODO generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* TODO sezioni principali */

body {
    width: 100vw; 
    display: inline-block;
}

/* TODO tag sezione header */

header {
    background-color: #3161e0;
    padding-top: 40px;
    padding-bottom: 15px;
    line-height: 38px
}

li {
    display: inline-block;
    margin-right: 70px;
}

/* TODO classi sezione header */

.logodiscord {
    float: left; 
    display: table-cell;
    vertical-align: middle;
    margin-left: 280px;
}

.menuheader {
    float: left; 
    display: table-cell;
    vertical-align: middle;
    margin-left: 255px;
    font-size: 20px;
}

.button1 {
    float: right; 
    display: table-cell;
    vertical-align: middle;
    margin-right: 250px;
    font-size: 20px;
}

.logoheader {
    height: 50px;
}

.listauno {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.accedi {
    list-style-type: none;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 40px;
}

/* TODO tag prima sezione main */

h1 {
    color: white;
    margin-top: 150px;
    margin-bottom: 40px;
    font-size: 60px;
}

.p-1 {
    font-size: 25px;
    color: white;
}

/* TODO classi prima sezione main */

.sezunomain {
    width: 100vw;
    height: 700px; 
    display: inline-block;
    text-align: center; 
    background-image: url(./asset/img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;

}

.uno {
    float: left;
    margin-left: 775px;
    margin-right: 40px;
    margin-top: 30px;
    color: black;
    padding: 30px;
    background-color: white;
    border-radius: 50px;
}

.due {
   float: left;
   margin-top: 30px;
   color: white;
   padding: 31px;
   background-color: black;
   border-radius: 50px;
}

.bottone {
    font-size: 25px;
}

/* TODO tag e classi di tutte e quattro le sezioni del main */

h2 { 
    font-size: 55px;
}

.paragrafo {
    font-size: 25px;
    margin-top: 20px;
}

.wave {
    position: relative;
}

/* TODO classi seconda sezione main */

.sezduemain {
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 70px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.img {
    float: left;
    margin-left: 20%;
    margin-right: 60px;
    
}

.par-1 {
    float: left;
    width: 500px;
    font-size: 30px;
    margin-top: 30px;
}

.custom-shape-divider-top-16445287651 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #f6f6f6;
    padding-bottom: 60px;
}

.custom-shape-divider-top-16445287651 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 128px;
}

.custom-shape-divider-top-16445287651 .shape-fill {
    fill: white;
}

/* TODO classi terza sezione main */

.seztremain {
    width: 100vw;
    margin-top: 200px; 
    padding-top: 50px;
    padding-bottom: 80px; 
    background-color: #f6f6f6;
}

.img-2 {
    float: left;
    margin-top: 20px;
}

.par-2 {
    float: left;
    width: 500px;
    font-size: 30px;
    margin-left: 25%;
    margin-right: 60px;
    margin-top: 60px;
}

.custom-shape-divider-top-16445287652 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-16445287652 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 128px;
}

.custom-shape-divider-top-16445287652 .shape-fill {
    fill: #f6f6f6;
}


/* TODO classi quarta sezione main */

.sezquattromain {
    width: 100vw;
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.img-3 {
    float: left;
    margin-left: 20%;
    margin-right: 60px;
}

.par-3 {
    float: left;
    width: 500px;
}

.custom-shape-divider-top-16445287653 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #f6f6f6;
    padding-bottom: 72px;
}

.custom-shape-divider-top-16445287653 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 128px;
}

.custom-shape-divider-top-16445287653 .shape-fill {
    fill: white
}

/* TODO classi quinta sezione main */

.sezcinquemain {
    background-color: #f6f6f6;
    margin-top: 200px;
    text-align: center;
}

.ultimo {
    font-size: 60px;
}

.paragrafo-1 {
    margin-top: 40px;
    font-size: 20px;
}

.stelline {
    font-size: 30px;
}

.stars {
    width: 650px;
}

.tasto {
    margin-top: 40px;
    font-size: 25px;
    padding: 20px;
    margin-right: 43%;
    margin-left: 43%;
    background-color: #8ea1e1;
    color: white;
    border-radius: 40px;
}