/* TODO generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* TODO sezioni principali */

body {
    width: 100vw; 
    display: inline-block;
}

/* TODO tag sezione header */

header {
    background-color: #3161e0;
    display: block;
    padding-top: 40px;
    padding-bottom: 15px;
    line-height: 38px
}

/* TODO classi sezione header */

.logodiscord {
    float: left; 
    vertical-align: middle;
}

.menuheader {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.listitem {
    display: inline-block;
    margin-right: 70px;
}

.button1 {
    float: right; 
    list-style-type: none;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 20px;
}

.logoheader {
    height: 50px;
    margin-left: 20px;
}

.listauno {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.accedi {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 15px;
    border-radius: 40px;
}

/* TODO tag prima sezione main */

h1 {
    color: white;
    margin-bottom: 40px;
    margin-top: 5%;
    font-size: 60px;
}

.p-1 {
    font-size: 20px;
    color: white;
}

/* TODO classi prima sezione main */

.sezunomain {
    width: 100vw;
    height: 500px; 
    display: inline-block;
    text-align: center; 
    background-image: url(./asset/img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;

}

.bot-sez-1 {
   display: flex;
   justify-content: center;
}

.uno {
    float: left;
    margin-top: 30px;
    color: black;
    padding: 20px;
    background-color: white;
    border-radius: 50px;
    text-decoration: none;
}

.due {
   float: left;
   margin-top: 30px;
   color: white;
   padding: 21px;
   background-color: black;
   border-radius: 50px;
   text-decoration: none;
   margin-left: 20px;
}

.bottone {
    font-size: 20px;
}

/* TODO tag e classi di tutte e quattro le sezioni del main */

h2 { 
    font-size: 50px;
}

.paragrafo {
    font-size: 25px;
    margin-top: 20px;
}

.wave {
    position: relative;
}

/* TODO classi seconda sezione main */

.sezduemain {
    width: 100vw;
    margin-top: 100px;
}

.img {
    float: left;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 80px;
    
}

.par-1 {
    float: left;
    width: 500px;
    font-size: 30px;
    margin-top: 30px;
}

/* onda */
.custom-shape-divider-top-16445287651 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    background-color: #f6f6f6;
    padding-bottom: 60px;
}

.custom-shape-divider-top-16445287651 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 128px;
}

.custom-shape-divider-top-16445287651 .shape-fill {
    fill: white;
}

/* TODO classi terza sezione main */

.seztremain {
    width: 100vw;
    margin-top: 10%;
    padding-bottom: 80px; 
    background-color: #f6f6f6;
}

.img-2 {
    float: left;
    margin-top: 20px;
}

.par-2 {
    float: left;
    width: 500px;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 8%;
}

/* onda */
.custom-shape-divider-top-16445287652 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-16445287652 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 128px;
}

.custom-shape-divider-top-16445287652 .shape-fill {
    fill: #f6f6f6;
}

/* TODO classi quarta sezione main */

.sezquattromain {
    width: 100vw;
    margin-top: 10%;
    margin-bottom: 5%;
}

.img-3 {
    float: left;
    margin-right: 60px;
    margin-left: 5%;
}

.par-3 {
    float: left;
    width: 500px;
}

/* onda */
.custom-shape-divider-top-16445287653 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background-color: #f6f6f6;
}

.custom-shape-divider-top-16445287653 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 128px;
}

.custom-shape-divider-top-16445287653 .shape-fill {
    fill: white
}

/* TODO classi quinta sezione main */

.sezcinquemain {
    background-color: #f6f6f6;
    text-align: center;
    height: 1000px;
}

.par-4 {
    margin-top: 12%;
}

.banner {
    width: 50%;
}

.ultimo {
    font-size: 60px;
    padding-top: 50px;
}

.paragrafo-1 {
    margin-top: 40px;
    font-size: 22px;
}

.stelline {
    font-size: 30px;
    margin-bottom: 80px;
}

.stars {
    width: 650px;
}

.tasto {
    margin-top: 70px;
    font-size: 25px;
    padding: 25px;
    background-color: #8ea1e1;
    color: white;
    border-radius: 40px;
    text-decoration: none; 
}

/* TODO tag footer */

footer {
    background-color: #23272a;
    padding-bottom: 60px;
    padding-top: 50px;
}

h5 {
    color: #7289da;
    width: 500px;
    font-size: 40px;
}

/* TODO classi footer */
.contenitore1 {
    display: flex;
    justify-content: center;
}

.listefooter {
   margin-left: 5px; 
   display: flex;
   flex-direction: column;
   margin-right: 30px;
}

.titolo {
    list-style-type: none;
    color: #7289da;
}

.contenitore > .elenco > .listefooter > li {
    list-style-type: none;
}

.contenitore > .elenco > .listefooter > li > a {
    text-decoration: none;
    color: white;
}


.elenco {
    float: left; 
    color: white;
}

.elenco1 {
 width: 40%;
 float: left;
}

.flag {
    width: 35px;
}

.ita {
    font-size: 15px;
    color: white;
}

.arrow {
    color: white;
}

.icone {
    color: white;
    padding: 10px;
    font-size: 25px;
}

.fa-brands {
    margin-right: 10px; 
}

.elenco > ul > li {
    margin-bottom: 10px;
}

.bg-color {
    background-color: #23272a;
}

hr {
    border-color: #7289da;
    margin-left: 10%;
    margin-right: 10%;
}

h5 {
    margin-bottom: 20px;
}

.flagita {
    margin-bottom: 20px;
}

.end {
    background-color: #23272a;
    padding-top: 40px;
    display: block;
    padding-bottom: 30px;
}

.logodis {
    float: left;
    margin-left: 10%;
}

.registrati {
    float: right;
    margin-right: 10%;
}

.bottonereg {
    text-decoration: none;
    color: white;
    margin-top: 10px;
    background-color: #8ea1e1;
    padding: 10px;
    border-radius: 30px;
}